ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #228b22;
}

li {
  float: left;
  color: #fff;
}

li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

body {
  background-color: rgb(220,255,220);
}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
