ul {
	max-height: 35px;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #228b22;
}

li {
  float: left;
  color: #fff;
	margin-right: 30px;
}

.margin1 {}

li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: rgb(160,176,169);
}

h1 {
  font: Tahoma, Geneva, sans-serif;
	font-size: 50px;
    color: black;
    text-shadow:
    /* Outline */
    -1px -1px 0 #209620,
    1px -1px 0 #00ff00,
    -1px 1px 0 #00ff00,
    1px 1px 0 #ffffff,  
    -2px 0 0 #ffffff,
    2px 0 0 #209620,
    0 2px 0 #000000,
    0 -2px 0 #ffffff; /* Terminate with a semi-colon */
}
p {
  font-size: 20px
}
body {
  background-color: rgb(220,255,220);
	margin-bottom: 100%;
}
.center1 {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 100px 20px 100px 20px;
}
img.imgsize {
	width: 50%;
	margin: 2px,2px,2px,20px;
	float: right;
}
